<table class="table table-bordered">
  
    <tbody>
        <tr>
            <td>
                Voyage
            </td>
            <td>
                <span class="label label-primary">1000101000011001 </span>
            </td>
        </tr>
        <tr >
            <td>
              Vessel 
            </td>
            <td><span class="label label-primary">Adria Ace</span></td>
        </tr>
        <tr>
            <td>
               Arrival Date
            </td>
            <td><span class="label label-primary">19-June-2016</span></td>
        </tr>
        <tr>
            <td>
                Type 
            </td>
            <td><span class="label label-primary">Import</span></td>
        </tr>
       
    </tbody>
</table>